main {
    max-width: 1000px;
    margin: 0 auto;
    padding: 1.5rem;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}
header, main {
    margin-bottom: 2rem;
}
nav {
    display: flex;
    justify-content:space-around;
    background-color: blue;
    padding: 0.5rem;
}

nav a {
    color: white;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}
main h1 {
    grid-column: 1 / 4;
    text-align: center;
}

figure {
    background: #ffffffc5;
    padding: 1rem;
    border-radius: 12px;
    text-align: center;
}

figure img {
    width: 150%;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
}
/* HAMBURGER BUTTON */
#menu {
    font-size: 2rem;
    border: 0;
    background: none;
    color: white;
    cursor: pointer;
}

/* HAMBURGER ICON */
#menu::before {
    content: "☰";
}

/* X ICON */
#menu.open::before {
    content: "X";
}

/* NAVIGATION */

.navigation {
    display: flex;
    flex-direction: column;
    background-color: blue;
}

.navigation a {
    color: white;
    padding: 1rem;
    text-decoration: none;
    text-align: center;
}
.navigation a:hover {
    background-color: gray;
    color: white;
}

/* MEDIA QUERY */

@media only screen and (min-width: 768px) {

    .navigation {
        flex-direction: row;
        justify-content: center;
    }

}

footer {
    background-color: #1f2937;
    color: white;
    text-align: center;
    padding: 1rem;
}